@model DTPReg4.Models.Registration
@{
    ViewBag.Title = " Додавання порушника ";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> Додавання нового порушника </h2>
@using (Html.BeginForm())
{
<fieldset>
    <legend>Порушник</legend>
    <p>
        ПІП порушника <br />
        @Html.EditorFor(model => model.PIP)
    </p>
    <p>
        Номер посвідчення <br />
        @Html.EditorFor(model => model.NPos)
    </p>
    <p>
        Дата народження  <br />
        @Html.EditorFor(model => model.Date_Birth)
    </p>
    <p>
        Марка автомобіля <br />
        @Html.EditorFor(model => model.Marka_Auto)
    </p>
    <p>
        Номер автомобіля <br />
        @Html.EditorFor(model => model.Nomer_Auto)
    </p>
    <p>
        Адреса порушення <br />
        @Html.EditorFor(model => model.Address)
    </p>
    <p>
        Дата <br />
        @Html.EditorFor(model => model.Date_Por)
    </p>
    <p>
        Тип <br />
        @Html.DropDownListFor(model => model.TypeId, ViewBag.Teams as SelectList)
    </p>
    <p>
        <input type="submit" value="Добавити порушника " />
    </p>
</fieldset>
}
<div>
    @Html.ActionLink("Список порушників", "Index")
</div> 